:root {
    --primaryBackground: #eeeeee;
    --primaryForeground: black;
    --secondaryBackground: #cccccc;
    --secondaryForeground: #666666;
    --selectedBackground: #4444ff;
    --selectedForeground: white;
}

@font-face {
    font-family: "Overpass";
    font-weight: 400;
    font-display: swap;
    src: url("media/overpass.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Overpass", system-ui, sans-serif;
    background-color: var(--primaryBackground);
    color: var(--primaryForeground);
    overflow: hidden;
}

#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primaryBackground: #111111;
        --primaryForeground: white;
        --secondaryBackground: #333333;
        --secondaryForeground: #999999;
    }
}