:root {
    --primaryBackground: #eeeeee;
    --primaryForeground: black;
    --primaryBorder: rgba(0, 0, 0, 0.2);
    --secondaryBackground: #cccccc;
    --secondaryForeground: #666666;
    --secondaryBorder: rgba(0, 0, 0, 0.2);
    --selectedBackground: #4444ff;
    --selectedForeground: white;
    --selectedBorder: rgba(255, 255, 255, 0.2);
    --animatedBackground: #ff0000;
    --animatedForeground: white;
    --animatedProgressBackground: #bb0000;
    --animatedProgressForeground: #ff6666;
    --computedBackground: #00ff00;
    --computedForeground: black;
    --programme: #ff0000;
    --preview: #007700;
    --linearKeyframe: linear-gradient(90deg, #ffaa00 0%, #ffaa00 50%, #aa7700 50%, #aa7700 100%);
    --bezierKeyframe: linear-gradient(90deg, #009900 0%, #009900 50%, #006600 50%, #006600 100%);
    --keyframePoint: #ffbbbb;
    --targetStart: rgba(68, 68, 255, 0.1);
    --targetEnd: rgba(68, 68, 255, 0.2);
}

@font-face {
    font-family: "Overpass";
    font-weight: 400;
    font-display: swap;
    src: url("media/overpass.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Overpass", system-ui, sans-serif;
    background-color: var(--primaryBackground);
    color: var(--primaryForeground);
    overflow: hidden;
    user-select: none;
}

#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primaryBackground: #111111;
        --primaryForeground: white;
        --secondaryBackground: #333333;
        --secondaryForeground: #999999;
        --keyframePoint: #440000;
    }
}